body {
  font-size: var(--paragraph-desktop);
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/*  HEADER */
.header {
  padding: 10rem 0;
}

.header__grid {
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  gap: unset;
}

.header__picture {
  justify-self: end;
}

.header__img {
  max-width: 80rem;
}

.header__content,
.header__title {
  text-align: left;
}

.header__tagline {
  font-size: 2rem;
}

.header__precio {
  font-size: 4rem;
}