body {
  font-size: var(--paragraph-desktop);
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/*  HEADER */
.header {
  padding: 10rem 0;
}

.header__grid {
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  align-items: center;
  gap: unset;
}

.header__picture {
  justify-self: end;
}

.header__img {
  max-width: 80rem;
}

.header__content,
.header__title {
  text-align: left;
}

.header__tagline {
  font-size: 2rem;
}

.header__precio {
  font-size: 4rem;
}

/* ICONOS */
.iconos {
  padding-block: 5rem;
}

.iconos__grid {
  grid-template-columns: repeat(3, 1fr);
}

.icono {
  text-align: center;
}

.icono__img {
  width: 10rem;
  height: auto;
  margin-inline: auto;
}

.icono_title {
  color: var(--primary-color);
}

.icono__copy {
  color: var(--gray-color);
}