:root {
  /* Fonts */
  --titleOne: 900 10rem/1.5 var(--secondary-Font);
}

/*  HEADER */
.header {
  padding: 15rem 0;
}

.header__precio {
  font-size: 8rem;
}

/* SOBRE-TECH */
.sobre-tech {
  padding-block: 12rem;
  background-image: linear-gradient(to left, transparent 0%, transparent 50%, var(--primary-color) 50%, var(--primary-color) 100%), url("../img/imagen-mujer.jpg");
  background-size: 100%, 120rem;
  background-position: right center;
}

.sobre-tech__grid {
  grid-template-columns: repeat(2, minmax(30rem, 60rem));
}

.sobre-tech__content {
  max-width: 50rem;
}

/* MODELOS */
.modelo {
  min-height: 24rem;
  background-size: 24rem;
  transition: background-size .3s ease-in-out;
}

.modelo:hover {
  background-size: 35rem;
}

.modelo__title,
.modelo__precio {
  font-size: 3.4rem;
}

.modelo:nth-child(3) .modelo__title,
.modelo:nth-child(3) .modelo__precio {
  font-size: 6rem;
}