:root {
  /* Fonts */
  --titleOne: 900 10rem/1.5 var(--secondary-Font);
}

/*  HEADER */
.header {
  padding: 15rem 0;
}

.header__precio {
  font-size: 8rem;
}

/* SOBRE-TECH */
.sobre-tech {
  padding-block: 12rem;
  background-image: linear-gradient(to left, transparent 0%, transparent 50%, var(--primary-color) 50%, var(--primary-color) 100%), url("../img/imagen-mujer.jpg");
  background-size: 100%, 120rem;
  background-position: right center;
}

.sobre-tech__grid {
  grid-template-columns: repeat(2, minmax(30rem, 60rem));
}

.sobre-tech__content {
  max-width: 50rem;
}