@font-face {
  font-family: "Lato", sans-serif;
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(../fonts/Roboto/Roboto-Black.ttf);
  font-weight: 900;
}

:root {
  /* Fonts */
  --primary-Font: "Lato", sans-serif;
  --secondary-Font: "Roboto", sans-serif;

  /* Colors */
  --primary-color: #1073ba;
  --secondary-color: #00da55;
  --gray-color: #3b3b3b;
  --grayLight-color: #e1e1e1;
  --white-color: #ffffff;
  --black-color: #1f1e1e;


  /* Font Size */
  --paragraph-movil: 1.4rem;
  --paragraph-desktop: 1.6rem;

  /* Line-Height */
  --line: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-width: 32rem;
  font-size: var(--paragraph-movil);
  line-height: var(--line);
  font-family: var(--secondary-Font);
  color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
  font-family: var(--primary-Font);
  font-weight: 700;
  color: var(--white-color);
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: none;
}

/* UTILIDADES */

[class$="__container"] {
  width: min(95%, 144rem);
  margin: 0 auto;
}

.degradado {
  color: transparent;
  background-image: linear-gradient(to right, var(--primary-color) 0%, var(--secondary-color) 100%);
  background-clip: text;

}

/*  HEADER */
.header {
  padding: 5rem 0;
  background-color: var(--black-color);
}

.header__grid {
  display: grid;
  justify-items: center;
  gap: 5rem;
}

.header__img {
  width: 100%;
  max-width: 40rem;
}

.header__content {
  width: min(100%, 50rem);
  text-align: center;
}

.header__tagline {
  font-size: 1.6rem;
  font-weight: bold;
}

.header__precio {
  font-size: 3rem;
  font-weight: bold;
}

/* ICONOS */
.iconos {
  padding-block: 5rem;
}

.iconos__grid {
  display: grid;
  grid-template-columns: minmax(30rem, 40rem);
  justify-content: center;
  gap: 2rem;
}

.icono {
  text-align: center;
}

.icono__img {
  width: 8rem;
  height: auto;
  margin-inline: auto;
}

.icono_title {
  text-transform: uppercase;
  color: var(--primary-color);
}

.icono__copy {
  color: var(--gray-color);
}

/* SOBRE-TECH */
.sobre-tech {
  padding-block: 10rem;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, var(--primary-color) 50%, var(--primary-color) 100%), url("../img/imagen-mujer.jpg");
  background-size: 100%, 80rem;
  background-position: center, top right;
  background-repeat: no-repeat;
}

.sobre-tech__grid {
  display: grid;
  grid-template-columns: minmax(30rem, 40rem);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 10rem;
}

.sobre-tech__content {
  grid-row: 2 / 3;
  text-align: center;
}